---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import ArrowCardLink from "@components/ArrowCardLink.astro";
import { HOME } from "@consts";
import type { CollectionEntry } from "astro:content";

import SlackSVG from "@images/slack.svg";
import MeetUpSVG from "@images/meetup.svg";

const data = (await getCollection("sessions"))
  .filter((session) => !session.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

type Acc = {
  [date: string]: CollectionEntry<"sessions">[];
};

const sessions = data.reduce((acc: Acc, session) => {
  const date = session.data.date.toLocaleDateString("ko-KR", {
    month: "short",
    day: "numeric",
    year: "numeric",
  });
  if (!acc[date]) {
    acc[date] = [];
  }
  acc[date].push(session);
  return acc;
}, {});

const dates = Object.keys(sessions).sort((a, b) => parseInt(b) - parseInt(a));
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h1 class="animate font-semibold text-2xl mt-8">AWSKRUG Beginner 소모임</h1>
    <div class="space-y-16">
      <section class="animate">
        <article class="space-y-4">
          <p>
            <b class="font-semibold">
              비기너 소모임은 AWS를 처음 (혹은 이제 막) 접하는 개발자, 엔지니어,
              학생 분들을 위한 소모임
            </b>
            입니다. 소모임 중 가장 넓고 다양한 범위를 다루고 있으며, 참석자 분들과
            함께 다양한 AWS 서비스들을 알아보며, 궁금한 점을 질문하는 방식의 자유로운
            네트워킹을 지향하고 있습니다.
          </p>

          <p>
            <b class="font-semibold">
              AWSKRUG 슬랙의 #beginner 채널에서 공지 및 소통이 이루어지고
              있습니다.
            </b>
            AWS를 사용하면서 모르는 것들, 궁금한 것들, 공유하고 싶은 것들을 자유롭게
            남겨주세요! 비기너 모임에 문의하고 싶은 것들도 슬랙 채널에 올려주시면
            답변해드리겠습니다.
          </p>

          <p>
            <b class="font-semibold">
              앞으로 예정된 세션들은 MeetUp 페이지에서 확인하고 신청할 수
              있습니다.
            </b>
            비기너 소모임 외에도 다른 소모임의 세션들도 있으니, 한 번 둘러보세요!
          </p>

          <div class="flex space-x-6">
            <ArrowCardLink
              title="AWSKRUG 슬랙 #beginner 채널 바로가기"
              href="https://awskrug.slack.com/archives/C360U952L"
              image={SlackSVG}
            />
            <ArrowCardLink
              title="AWSKRUG Meetup 페이지 바로가기"
              href="https://www.meetup.com/ko-KR/awskrug"
              image={MeetUpSVG}
            />
          </div>
        </article>
      </section>

      <section class="animate">
        <article class="space-y-4">
          <h2 class="font-semibold text-2xl">Next Meetup</h2>
          <p>
            다음 모임은 2024년 11월 초에 진행될 예정입니다. 구체적인 일정은 추후
            공지됩니다.
          </p>
        </article>
      </section>

      <section class="animate">
        <article class="space-y-4">
          <h2 class="font-semibold text-2xl">Call for Speakers</h2>
          <p>
            언제나 발표자를 모집하고 있습니다! AWS 또는 클라우드와 관련이 있는
            주제라면, 어떤 주제로든 발표하실 수 있습니다. 학생 분들의 발표도
            언제나 환영합니다!
          </p>
          <ArrowCardLink
            title="📢 발표자 지원하기"
            href="https://tally.so/r/wbx7EE"
          />
        </article>
      </section>

      <section class="animate space-y-6">
        <h2 class="font-semibold text-2xl">Sessions</h2>
        <div class="space-y-8">
          {
            dates.map((date) => (
              <section class="animate space-y-4">
                <div class="font-semibold">{date}</div>
                <div>
                  <ul class="flex flex-col gap-4">
                    {sessions[date].map((session) => (
                      <li>
                        <ArrowCard entry={session} />
                      </li>
                    ))}
                  </ul>
                </div>
              </section>
            ))
          }
        </div>
      </section>
    </div>
  </Container>
</PageLayout>
